@font-face {
  font-family: 'PressStart';
  src: url('assets/PressStart2P.ttf');
}

body {
    background-image: url(assets/black-dark4.jpg);
background-size: auto;
margin: 0;}
  
  #container {
    width: 70vw;
    height : 50px;
    margin: 5vw auto;
  }
  
  h1 {
    padding-top : 30px;
    text-align: center;
    color: #fff;
    font-size: 5em;
    letter-spacing: 8px;
    font-family: 'PressStart', Helvetica;
    font-weight: 400;
    /*Create overlap*/
    
    margin: 0;
    line-height: 0;
    /*Animation*/
    
    animation: glitch1 2.5s infinite;
  }

  img{
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  
  h1:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
  }
  
  h1:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
  }
  /*Keyframes*/
  
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }

  .nav_img {
    display : inline-block;
    height : 100px;
}
.navbar__menu {
    width : 100%;
    padding-left : 0;
    margin : 0;
     background-blend-mode: url(assets/black-dark4.jpg);
}

ul {
  font-family: "PressStart",sans-serif;
  list-style-type: none;
  padding-left : 0px;
  width : 1100px;
 background-blend-mode: url(assets/black-dark4.jpg);
    font-size: 170% ;
    
}

.navbar__menu ul {
    list-style-type: none;
  margin:0px;
  padding: 0;
  overflow: hidden;
   background-blend-mode: url(assets/black-dark4.jpg);
  margin-left: 360px;
  
}

.navbar__menu li a{
   display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
     background-blend-mode:url(assets/black-dark4.jpg);
    margin-bottom: 0;
    font-size: 120%;
}
.navbar__menu li {
     float: left;
    margin-right:45px; background-blend-mode: url(assets/black-dark4.jpg);
     
}
/* Active nav element coloring */
.nav_element.active {
    color : rgb(126, 11, 91);
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

#navigation {
    overflow : hidden;
}
.navbar__menu li a:hover {
    background:black ;
    color: aliceblue ;
}
